# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
logs/
*.log

# Local datasets
datasets/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Build
dist/
build/

# Python Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/